#root {
  width: 100%;
  padding-top: 2rem;
  font-family: sans-serif;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.active-navlink {
  font-weight: bold;
}

.__react_modal_image__modal_container {
  background-color: rgba(0,0,0,0.25) !important;
  /* Blur background */
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.title, .subtitle {
  text-align: center;
}

.image-container {
  min-width: 200px;
  max-width: 200px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.07);
  background: #fff;
  overflow: hidden;
  text-align: center;
}

.image-caption {
  font-size: 12px;
  padding: 6px;
  white-space: normal;
}

.image-row {
  display: flex;
  overflow-x: auto;
  gap: 12px;       /* Space between images */
  padding-bottom: 8px;
  scrollbar-color: #ccc #f8f8f8; /* optional: for visible scrollbar on Firefox */
}
.image-row::-webkit-scrollbar {
  height: 10px;    /* for Chrome/Safari/Edge */
}
.image-row::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.transparent-bg {
  background:
    linear-gradient(45deg, rgba(204,204,204,0.5) 25%, transparent 25%),
    linear-gradient(-45deg, rgba(204,204,204,0.5) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, rgba(204,204,204,0.5) 75%),
    linear-gradient(-45deg, transparent 75%, rgba(204,204,204,0.5) 75%);
  background-size: 12px 12px;
  background-position: 0 0, 0 12px, 12px -12px, -12px 0px;
  background-color: rgba(255,255,255,0.5);
  background-color: #eee;

  width: 100%;
  object-fit: contain;
  display: block;
}

.download-buttons {
  display: flex;
  justify-content: center;
  background-color: #00594F;
}

.download-buttons a {
  color: white;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  width: 100%;
}

.download-buttons a:hover {
  background-color: #00796B;
}

.icon {
  width: 1.2rem;
  height: 1.2rem;
  vertical-align: middle;
  color: white;
}

/** Logos **/
.logos {
  padding: 32px 0 32px 32px;
}

/** Brand guidelines page **/
.brand-guidelines {
  max-width: 768px;
  margin: 60px auto 0;
  padding: 16px;
}
